<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <% include ./partials/header %>
    <link rel="stylesheet" href="/stylesheets/floating.css">
    <link rel="stylesheet" href="/stylesheets/cover.css">
    <!-- <link rel="stylesheet" href="/stylesheets/login.css"> -->


</head>

<body>
    <div class="container d-flex w-100 h-100 my-5 flex-column mx-auto">
        <header class="masthead mb-auto">
        </header>
        <main role="main" class="inner cover dashboard-main">
            <div class="card">
                <div class="card-header">
                    <div class="row">
                        <div class="col">
                            <a href="" class="bg-primary text-white btn-block btn-lg login text-center">Login</a>
                        </div>
                        <div class="col">
                            <a href="" class="bg-primary text-white btn-block btn-lg login text-center">Login</a>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <form action="">
                        <div class="form-label-group">
                            <input type="email" name="" id="inputEmailLog" placeholder="Email">
                        </div>
                        <label for="inputEmailLog">Email</label>
                    </form>
                </div>
            </div>
        </main>
        <footer class="mastfoot mt-auto">
        </footer>
    </div>


    <% include ./partials/footer %>
</body>

</html>